<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h3>Not Found</h3>
        <img src="https://img.freepik.com/premium-vector/404-error-found-cat-is-sitting-holding-plug-from-outlet_626340-65.jpg?w=800" alt="notFoundCat" class="img-fluid" style="max-width: 1000px; max-height: 700px;">
    </div>
</div>