

<div class="row">
    <div class="col-md-6 offset-3">
        <h2>Order completed</h2>
        <p>You can check your orders in Orders section of your profile</p>
        <hr />
        <img src="https://www.healthypetchefs.com.au/wp-content/uploads/2017/03/Cat-One-Off-1.jpg" height="500" width="500" />
    </div>
</div>